
#header_bar{
    position:relative;
    left:0px;
    top:0px;
}

#column_bar{
    background-color: blue;
}

#column_bar{
    background-color: lightgrey;

}

#main_content{
    margin-top: 50px;
}
