#header_bar{
    background-color: royalblue;
    height: 50px;
}
#column_bar{
    background-color: lightgrey;
    height: 50px;
}

.scrollbar {
    width: 1000px;
    background: #fff;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}
