h1 {
    color: white;
    background-gound:blue;
}
h2 {
    color: yellow;
    background-color: blue;
}
#wbdv-modle-list {
    background-color: cyan;
}
.wbdv-module {
    background-color: lightgray;
}
.wbdv-bold {
    font-weight: bold;
}
.wbdv-bold.wbdv-selected {
    background-color: chartreuse;
}