
h1{color:white}
h2{color:white}
h3{color:white}

#header_bar{background-color: grey}

#side_menu {
    background-color: lightgrey;
    height:max-content;
}

.wbdv-close{
    width:200px;
    height:40px;
    font-size:40px;
}


